<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrô Luxxo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Retrô Luxxo</h1><br>
        <a href="https://wa.me/5541998205080" target="_blank"><button>Whatsapp</button></a>

        <a href="https://t.me/JCGAMESCLASSICOS" target="_blank"><button>Telegran</button></a>
        
        <a href="https://discord.gg/vmVufZCeQt" target="_blank"><button>Discord</button></a>
    </header>

    <div class="container">
        <h2>Últimos vídeos</h2>

        <div class="video">
            <h3>Debugando o sistema Mugen Batocera v39 JOGOS RODANDO !!!</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CoU-27_YvyE?si=8EKa7hj6NGEppacA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>Comando Up #Instalação e (COMO USAR)</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/EabfZ18bclQ?si=3Pr9JZbhMC2hCbsH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>Novo comando implementado "up" Batocera v 39 sistema Windows</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JRvjXvXMdlE?si=x3UOaIuCe7UOxCIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>Batocera 16GB #FREE !!!!!! PC x64!!!!!! #CRÈDITOS #Parceiros_Da_Emulação ...</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/D5SqLZ1MemU?si=judcMAlZPVV19tvr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>Gravação do Batocera no Pen Drive #Fácil_de_mais</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Msig69Gp0Yg?si=4nvRbnOUbkwJjjWG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>Pendrive com 0 Bites #COMO_RESOLVER!!!</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_pi_fI1nEJw?si=gDxdjtzjTrBoPbAd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>Batocera.Linux V39 Elite 120 GB (PC 64) #Parceiros_da_emulação | #JC_Games_clássicos</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2EVpGzIzWhY?si=b7N0SiRBhQHVgNs7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>#Batocera_PRO | by #Parceiros_da_emulação @SMEsergio | @JCGAMESCLASSICOS</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1lDBW6MsNzU?si=rTIaflV49xFV-nko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>Instalação tartarugas ninjas PC no batocera PLUS</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9K2dJGZYKD8?si=Nf0Hnyep1eeBqxWG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h3>Seus jogos pararam de rodar de repente ..batocera.PLUS ou batocera Linux</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/O-pASedyRbY?si=wumc60NO0wbwk8WV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>